@font-face {
    font-family: 'StratosSkyeng';
    src: url(./statosskyeng-v1.001/fonts/stratosskyengweb-regular.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 73, 128, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.desk {
    background-color: rgba(194, 245, 255, 1);
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    width: 208px;
    text-align: center;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: rgba(0, 73, 128, 1);

}

.level-numbers {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 68px;
}

.level-number {
    width: 98px;
    height: 98px;
    background-color: #fff;
    border-radius: 12px;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    border-color: transparent;
    color: #0080c1;
}

.btn {
    width: 246px;
    height: 50px;
    background-color: #7ac100;
    border-radius: 12px;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: white;
    border-color: transparent;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 52px 23px auto 23px;
    justify-content: start;
    align-items: start;
}

.game__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 578px;
}

.game__head-timer {
    width: 155;
    height: 91;
    color: #fff;
    font-family: StratosSkyeng;
    position: relative;
}

.name-of-time {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    height: 32px;
}

.name-of-time-min {
    left: 39px;
    top: -10px;
}

.name-of-time-sec {
    left: 124px;
    top: -10px;
}

.time-of-time {
    font-weight: 400;
    font-size: 64px;
}

.game__field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.game__field-card {
    width: 95px;
    height: 133px;
}

.hide {
    display: none;
}